# dantes specific envs
DANTES_PORT="6969" # nice!

FRONTEND_URL="http://localhost:3000" # for prod (5173 for dev)

BASE_CALLBACK_URL=""

WAIT_TIME_MS="1000"
DEFAULT_WAIT_TIME_MS="500"
MAX_JOB_CONCURRENCY="5"
DEFAULT_REPLY_WAIT_TIME="600000" # 10 minutes: 10 * 60 * 1000 = 600000

# DUPLICATES from the packages:

# db package envs
DB_FILE_PATH="../../dantes.db"

# auth package envs
JWT_SECRET=""
HASH_ROUNDS="12"

USERNAME="micheal-scott"
PASSWORD=""
